# Set default behaviour, in case users don't have core.autocrlf set.
* text eol=lf
readLineASCII.txt         text
firstLineOffset.txt       text
readLineUTF.txt           text
log4j.properties          text
*.xml                     text