.img {
    margin-top: 10px;
}

.navbar-static-top {
    margin-bottom: 1px;
}

body {
    padding-bottom: 20px;
}

.navbar-brand {
    float: left;
    height: 50px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-top: 9px;
    font-size: 16px;
}

.header,
.footer {
    padding: 15px;
}

h2 {
    font-size: 24px;
}

.cp {
    color: #0000CC;
}

.pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}

.header {
    padding-bottom: 10px;
    margin-bottom: 1px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .highlight,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}