body {
    background-color: #c9d2da;
}

.row {
    height: 450px;
}

.container {
    margin-top: 50px;
}

.sections {
    padding: 3%;
    border-radius: 4px;
    background-color: #f4f4f4;
}

.code {
    text-align: left;
}

.nt {
    color: #673AB7;
}

.na {
    color: #009688;
}

.navbar-brand {
    padding: 5px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 5px;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

pre {
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

footer {
    background: #32383e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .row {
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin-top: 10%;
    }

    .container {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin-top: 80px;
    }
}